* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Inter', sans-serif;
}

:root {
    --text-color: #667085;
    --main-color: #8E2424;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    max-width: 100%;
    max-height: 100vh;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: #3A404E;
    transition: 0.6s;
}

h1 {
    font-size: 18px;
    color: #3A404E;
}

button {
    padding: 5px;
}

.gray-text {
    margin-top: 5px;
    color: var(--text-color);
}

.red-text {
    color: #8E2424;
    font-weight: bold;
}

.title {
    padding: 5px;
}

.title img {
    width: 10%;
}

.navbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background: #fff;
    font-family: 'Inter', sans-serif;
    border-bottom: 0.1px solid rgba(128, 128, 128, 0.096);
}

.content-init {
    display: flex;
    justify-content: space-around;
}

.item {
    display: flex;
    padding: 8px;
    gap: 25px;
    font-size: 16px;
    color: #667085;
}

.enter-init,
.button-init {
    color: #667085;
    border-radius: 6px;
    border: none;
    height: 4vh;
}

.enter-init {
    color: #667085;
    background: #fff;
}

.button-init {
    background: #8E2424;
    color: #fff;
    border: none;
}

.content-1 {
    margin-top: 200px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    gap: 30px;
}

.subtitle {
    font-weight: 600;
}

.content-2 {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    padding: 80px;
}

.block {
    padding: 20px;
}

.specify {
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    color: var(--main-color);
}

.content-3 {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
}

.title-sublime {
    font-size: 16px;
    color: var(--main-color);
    font-weight: bold;
}

.background-red {
    background: #ffb2b273;
    padding: 2px;
    border-radius: 5px;
    margin-left: 120px;
    width: 40%;
    text-align: center;
}

.work {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Inter', sans-serif;
    margin: 80px 250px;
}

.black-text {
    font-weight: bold;
    margin-bottom: 15px;
}

.gray-text-works {
    margin-top: 5px;
    font-size: 14px;
    color: var(--text-color);
}

.space {
    margin-left: 15px;
}

.title-works {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
}

.center {
    margin: 35px;
    padding: 25px;
    border: 1px solid #66708546;
    border-radius: 5px;
}

.content-5 {
    margin: 60px;
    background: #ffb2b22c;
    padding: 50px;
    text-align: center;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
}

.avatar {
    width: 5%;
    display: flex;
    align-self: center;
}

.content-6 {
    background: #ffb2b22c;
    padding: 80px;
    text-align: center;
}

.name {
    margin-top: 20px;
    border: 0.3px solid rgba(158, 158, 158, 0.781);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 8px;
    width: 25%;
}

.button-contact {
    background: #8E2424;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 5px;
}

@media(max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .container {
        width: 100%;
    }
    .item {
        position: relative;
        left: -100px;
        margin-top: 40px;
        font-size: 12px;
        text-align: center;
    }
    .content-2 {
        margin: 20px;
        font-size: 15px;
        flex-direction: column;
    }
    .content-4 {
        margin: 50px auto;
    }
    .img-talents {
        width: 80%;
        margin: 0 auto;
    }
    .title-works {
        justify-content: center;
    }
}

@media(max-width: 500px) {
    .item {
        position: relative;
        left: 20px;
        margin-top: 10px;
        font-size: 12px;
        text-align: center;
    }
}